@import '../../../../scss//mixins.scss';

.qty-recruiters-input {
    width: 52px;
    height: 48px;
	@include text-normal-large-black;
	@include flex-center;
	padding: 7px 14px;
	background-color: $main-white;
	border: 1px solid $grey-input;
	border-radius: 4px;
	cursor: pointer;

	&:hover,
	&:focus {
		background-color: $blue-gray-light-btn;
		border: 1px solid $blue-btn-disabled;
	}

	&_checked {
		background-color: $blue-gray-light-btn;
		border: 1px solid $blue-btn-disabled;
	}

    &:disabled {
        background-color: $main-white;
        border: 1px solid $grey-input;;
    }

	&__hidden-block {
		display: none;
	}
}