@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.form-page {
	display: flex;
	flex-grow: 1;
	padding: 44px $padding-horizontal;

	&__form-container {
		padding: $form-section-y-padding 80px;
		width: 848px;
	}
}

.form-title {
	@include mp-null;
	@include text-section-title;
}
