@import "../../../scss/variables.scss";
@import "../../../scss/mixins.scss";

.form-control {
    @include input-style;

    &__container{
        position: relative;
    }
}

.options {
    @include options-style;
}

.tips {
    display: flex;
    padding: 0;
    margin: 8px 0 0 0;
    list-style: none;
    width: 100%;
    // max-width: $max-width-input;
    // max-height: $max-height-input;

    &__item {
        @include text-input;
        cursor: pointer;
        padding: 8px 12px;
        margin: 0 8px 0 0;
        border-radius: 8px;
        background-color: $blue-gray-light-btn;
    }

    &__item:hover {
        background-color: $blue-btn-default;
    }
}
