@import "../../../scss/variables.scss";
@import "../../../scss/mixins.scss";

.form-wrapper {
   display: flex;
   flex-direction: column;
   max-width: 688px;

    &__title {
        @include text-section-title;
        margin-bottom:  48px;
    }
}
