@import '../../../scss/variables.scss';

.button {
	border: none;
	background: none;
	padding: 0;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	position: relative;

	path {
		transition: stroke 0.3s ease;
	}

	&:hover path,
	&:focus path {
		stroke: #4b86f6;
	}

	&:active path {
		stroke: #4b86f6;
	}

	&__active {
		position: absolute;
		border-radius: 50%;
		width: 10px;
		height: 10px;
		background-color: $red;
		bottom: 3px;
		right: 6px;
	}
}
