@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.header {
	padding: 16px $padding-horizontal;
	height: 78px;
	display: flex;
	align-items: center;
	column-gap: 16px;

	&__navigation {
		display: flex;
		align-items: center;
		width: inherit;
		flex-grow: 1;
		column-gap: 56px;
	}

	&__link-container {
		display: flex;
		column-gap: 44px;
	}

	&__link-text {
		@include text-normal-large-black;
		text-decoration: none;

		&:hover {
			color: #4b86f6;
		}

		&:active {
			color: #4b86f6;
		}
	}
}
