@import '../../scss/mixins.scss';

.form-step {
	@include flex-column;

	&__conteiner-img-title {
		display: flex;
		align-items: center;
	}

	&__img-conteiner {
		width: 46px;
		height: 46px;
		border-radius: 50%;
		background-color: $blue-btn-disabled;
		flex-shrink: 0;
	}

	&__img {
		width: 23px;
		height: 46px;
		display: block;
		margin: 0 auto; 
	}

	&__title {
		@include mp-null;
		padding-left: 28px;
	}

	&__line {
		height: 30px;
		width: 4px;
		background-color: $blue-btn-disabled;
		margin-left: 21px;
	}

	&__img-conteiner_active, &__line_active {
		background-color: $blue-btn;
	}
}
