@import '../../scss/mixins.scss';

.form-step {
	display: flex;
	flex-direction: column;

	&__conteiner {
		display: flex;
		align-items: center;
	}

	&__img-conteiner {
		width: 46px;
		height: 46px;
		border-radius: 50%;
		background-color: gray;
		flex-shrink: 0;
	}

	&__title {
		@include mp-null;
		padding-left: 28px;
		
	}

	&__line {
		height: 40px;
		width: 4px;
		background-color: gray;
		margin-left: 21px;
	}
}
