@import './variables.scss';
// Миксины

//  -------------- BASIC -----------------
@mixin mp-null {
	margin: 0;
	padding: 0;
}

// ------------LIST------------
@mixin mp-null-list {
	@include mp-null;
	list-style-type: none;
}

//  -------------- FONTS -----------------
@mixin text {
	font-family: $font-family;
	font-style: normal;
}

// text-normal-large
@mixin text-normal-large {
	@include text;
	font-size: 16px;
	font-weight: 400;
	line-height: 150%;
}

@mixin text-normal-large-black {
	// ссылки и имя профиля в хедере, заполненные шаги, выпадающие подсказки, заполненный текст в инпутах
	@include text-normal-large;
	color: $main-black;
}

@mixin text-normal-large-white {
	// текст в футере
	@include text-normal-large;
	color: $main-white;
}

@mixin text-normal-large-disabled {
	// не заполненные шаги
	@include text-normal-large;
	color: $grey-text-disabled;
}

@mixin text-placeholder {
	// плейсхолдеры в инпутах
	@include text-normal-large;
	color: $grey-input-placeholder;
}

@mixin text-dropdown-item-hover {
	// для выбранных значений в выпадающем списке
	@include text-normal-large;
	color: $blue-hover;
}

// text-normal-medium
@mixin text-normal-medium {
	@include text;
	font-size: 14px;
	font-weight: 400;
	line-height: 140%;
}

@mixin text-normal-medium-gray {
	// id пользователя в хедере
	@include text-normal-medium;
	color: $main-gray;
}

@mixin text-normal-medium-white {
	// локации в футере
	@include text-normal-medium;
	color: $main-white;
}

@mixin text-normal-medium-error {
	// ошибки инпутов
	@include text-normal-medium;
	color: $red-error;
}

// text-normal-small
@mixin text-normal-small-gray {
	// копирайт
	@include text;
	font-size: 12px;
	font-weight: 400;
	line-height: 134%;
	color: $main-gray;
}

// text-bold-large
@mixin text-bold-large {
	// для номеров телефонов в футтере и текста кнопок
	color: $main-white;
}

@mixin text-bold-large-white {
	// для номеров телефонов в футтере и текста кнопок
	@include text-bold-large;
	color: $main-white;
}

@mixin text-bold-large-blue {
	// для  текста кнопок
	@include text-bold-large;
	color: $blue-btn;
}

@mixin text-bold-large-disabled {
	// для  текста кнопок
	@include text-bold-large;
	color: $blue-btn-disabled;
}

// text-bold-medium
@mixin text-bold-medium-white {
	// для заголовка раздела связи в футере
	@include text;
	font-size: 14px;
	font-weight: 700;
	line-height: 140%;
	color: $main-white;
}

// section title
@mixin text-section-title {
	// для заголовока секций формы и шагов
	@include text;
	font-size: 24px;
	font-weight: 700;
	line-height: 116%;
	color: $main-black;
}

// input lable
@mixin text-input-lable {
	// для лейбла инпута
	@include text;
	font-size: 16px;
	font-weight: 700;
	line-height: 140%;
	color: $main-black;
}

// input text
@mixin text-input {
	// для лейбла инпута
	@include text;
	font-size: 16px;
	font-weight: 400;
	line-height: 150%;
	color: $main-black;
}

@mixin input-style {
	display: flex;
    flex-direction: column;
    margin: 0 0 $margin-between-elements 0;

    &__title {
        @include text-input-lable;
        margin: 0 0 $margin-bottom-input 0;
    }

    &__input {
        @include text-input;
        max-width: $max-width-input;
        padding: $inner-padding-input;
        width: 100%;
        border-radius: 8px;
        border: 1px solid $grey-input;
		-webkit-box-shadow: inset 0 0 0 50px #fff;
    }

    &__input::placeholder {
        color: $grey-input-placeholder;
        font-size: $text-size-input-placeholder;
        font-weight: 400;
        line-height: 150%; /* 24px */
    }

    &__input:focus-visible {
        outline: 1px solid $blue-hover;
		border: 1px solid $blue-hover;
    }

	&__error {
		border: 1px solid $red-error;
	}
}

@mixin form-style {
	height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;

    &__buttons {
        display: flex;
        justify-content: space-between;
    }
}
