@import '../../../scss/variables.scss';
@import '../../../scss/mixins.scss';

.textarea-input {
	@include textarea-input;
	@include scrollbar;
	resize: none;
	width: 100%;
	height: 128px;
}

.error {
	outline-color: $red-error;
	margin: 0;
}
